/*-- scss:defaults --*/
// 以下でフォント、色、ボーダーなどに影響する変数を定義する

/*-- scss:rules --*/
// 以下でCSSルールを作成する

.reveal section h1 {
    color: #2c3e50;
    font-size: 36px !important;
    text-align: center;
  }
  
.reveal section h2 {
    color: #34495e;
    font-size: 36px !important;
    text-align: left;
  }

.reveal section p {
    font-size: 24px !important;
    text-align: left;
  }

.reveal h3 {
    color: #34495e;
    font-size: 1em;
    text-align: left;
    text-indent: 1em;

  }
